/* src/styles/global.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .dashboard {
    display: absolute;
  }
  
  .sidebar {
    width: 16%;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100%; /* Full height sidebar */
    overflow-y: auto; /* Scrollable if content overflows */
    position: fixed;
    top: 0;
    left: 0;
  }
  
/* Main content container */
.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr; /* First column is 2 times the width of the second column */
  grid-template-rows: 1fr 1fr;    /* Two equal-height rows */
  gap: 20px;                      /* Gap between the grid items */
  margin-left: 18%;                /* Shift the grid to the right by 20% */
  padding: 20px;                  /* Padding around the main content */
  /* height: 150vh; */
}

/* Quadrant styling */
.quadrant {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;

  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Set a width to height ratio of 1.5:1 */
  width: calc(1.48 * 60%); /* Make width 1.5 times the height of the container */
  height: 70%;            /* Ensure height fills the grid item */
  
  /* Optionally, set a max width for the quadrants */
  max-width: 1200px;
}

/* Right shift each quadrant by 15% */
.main-content .quadrant {
  min-height: 400px;
  margin-left: 30px;
}

.log-list ul li{
  display: flex;
  justify-content: start;
  cursor: pointer;
  height:20px;
  font-size: 12px;
}

.log-list ul li:hover{
  transition: all 0.4s;
  background: rgb(233, 233, 233);
}

.log-list ul li div{
  padding: 0 30px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;   /* Stack the quadrants vertically on small screens */
    grid-template-rows: repeat(4, 1fr); /* 4 rows for mobile */
    margin-left: 0;              /* Remove the margin-left on smaller screens */
  }

  .quadrant {
    width: 100%;  /* Make the quadrants take full width on smaller screens */
    transform: none;  /* Remove the right shift on smaller screens */
  }
}

  